.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	background: black;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 25px;
	box-sizing: border-box;
	z-index: 1000;
}

.nav-links {
	list-style: none;
	display: flex;
	gap: 25px;

}

.nav-links li a {
	color: black;
	text-decoration: none;
	font-size: 16;
	transition: o.3s;

	/* menambahkan background li*/
	background-color: white;
	padding: 10px 20px;
	border-radius: 20px;
}

.nav-links li a:hover {
	background-color: yellow;
	padding: 10px 20px;
	border-radius: 20px;
	font-weight: bold;
}

.content {
	padding: 80px 20px;
	background: linear-gradient(135deg, #2774e8, #5e93e9);
	color: white;
	text-align: center;
}

.content ul a {
	color: black;
	text-decoration: none;
	font-size: 16;
	transition: o.3s;

	/* menambahkan background li*/
	background-color: white;
	padding: 10px 20px;
	border-radius: 5px;
}

.content ul a:hover {
	background-color: yellow;
	padding: 10px 20px;
	border-radius: 5px;
	font-weight: bold;
}

.logo {
	background-color: white;
	color: black;
	border-radius: 50%;
	font-weight: bold;
	font-size: 21;
	text-shadow: 0 0 7px #fff, 0 0 21px #ff00de;
	padding: 15px;

}

.skill-card {
	background-color: white;
	color: black;
	padding: 20px;
	border-radius: 10px;
	max-width: 400px;
	margin: 30px auto;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.skill-card h2 {
	margin-top: 0;
	color: #005ae2;
}

.skill-list {
	list-style: none;
	padding: 0;
}

.skill-list li {
	padding: 8px 0;
	border-bottom: 1px solid #eee;
}

.skill-list li:last-child {
	border-bottom: none;
}